.cardImage {
    display: block;
    width: 200px;
    box-shadow: 0 0 10px lightcoral;

}

.cardTitle {
    text-align: center;
    font-weight: bold;
    color: lightcoral;
}

.cardDescription {
    text-align: center;
    width: 200px;
}

.cardWrapper {
    display: flex;
    width: 350px;
    flex-flow: column;
    align-items: center;
    padding: 20px;
    border: 5px solid lightcoral;
  box-shadow: 0 0 10px lightcoral;
    margin: 50px;
    color: lightcoral;
}