.counterWrapper {
   display: flex;
   align-items: center;
   width: 15px;
   margin: 0 auto;
   padding: 100px;
  box-shadow: 0 0 10px lightcoral;
    border: 5px solid lightcoral;
    justify-content: center;
}

.decrement,
.increment{
  padding: 10px 20px;
  margin: 10px;
  background-color: lightcoral;
  color: black;
  text-transform: uppercase;
  box-shadow: 0 0 10px lightcoral;
  cursor: pointer;
  border-radius: 8px;
}